<html>
<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>

<table>
    <tr class="title">
        <td>Column1</td>
        <td >Column2</td>
        <td >Column3</td>
        <td >Column4</td>
    </tr>

    <tr><td class="columnOfCards" id="c1">
        <table>
            <tr><td class="cardLocation" id="c1_0"></td></tr>
            <tr><td class="cardLocation" id="c1_1"></td></tr>
            <tr><td class="cardLocation" id="c1_2"></td></tr>
            <tr><td class="cardLocation" id="c1_3"></td></tr>
            <tr><td class="cardLocation" id="c1_4"></td></tr>
            <tr><td class="cardLocation" id="c1_5"></td></tr>
            <tr><td class="cardLocation" id="c1_6"></td></tr>
            <tr><td class="cardLocation" id="c1_7"></td></tr>
            <tr><td class="cardLocation" id="c1_8"></td></tr>
            <tr><td class="cardLocation" id="c1_9"></td></tr>
            <tr><td class="cardLocation" id="c1_10"></td></tr>
            <tr><td class="cardLocation" id="c1_11"></td></tr>
            <tr><td class="cardLocation" id="c1_12"></td></tr>
            <tr><td class="cardLocation" id="c1_13"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation" id="c2_0"></td></tr>
                <tr><td class="cardLocation" id="c2_1"></td></tr>
                <tr><td class="cardLocation" id="c2_2"></td></tr>
                <tr><td class="cardLocation" id="c2_3"></td></tr>
                <tr><td class="cardLocation" id="c2_4"></td></tr>
                <tr><td class="cardLocation" id="c2_5"></td></tr>
                <tr><td class="cardLocation" id="c2_6"></td></tr>
                <tr><td class="cardLocation" id="c2_7"></td></tr>
                <tr><td class="cardLocation" id="c2_8"></td></tr>
                <tr><td class="cardLocation" id="c2_9"></td></tr>
                <tr><td class="cardLocation" id="c2_10"></td></tr>
                <tr><td class="cardLocation" id="c2_11"></td></tr>
                <tr><td class="cardLocation" id="c2_12"></td></tr>
                <tr><td class="cardLocation" id="c2_13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation" id="c3_0"></td></tr>
                <tr><td class="cardLocation" id="c3_1"></td></tr>
                <tr><td class="cardLocation" id="c3_2"></td></tr>
                <tr><td class="cardLocation" id="c3_3"></td></tr>
                <tr><td class="cardLocation" id="c3_4"></td></tr>
                <tr><td class="cardLocation" id="c3_5"></td></tr>
                <tr><td class="cardLocation" id="c3_6"></td></tr>
                <tr><td class="cardLocation" id="c3_7"></td></tr>
                <tr><td class="cardLocation" id="c3_8"></td></tr>
                <tr><td class="cardLocation" id="c3_9"></td></tr>
                <tr><td class="cardLocation" id="c3_10"></td></tr>
                <tr><td class="cardLocation" id="c3_11"></td></tr>
                <tr><td class="cardLocation" id="c3_12"></td></tr>
                <tr><td class="cardLocation" id="c3_13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c4">
            <table>
                <tr><td class="cardLocation" id="c4_0"></td></tr>
                <tr><td class="cardLocation" id="c4_1"></td></tr>
                <tr><td class="cardLocation" id="c4_2"></td></tr>
                <tr><td class="cardLocation" id="c4_3"></td></tr>
                <tr><td class="cardLocation" id="c4_4"></td></tr>
                <tr><td class="cardLocation" id="c4_5"></td></tr>
                <tr><td class="cardLocation" id="c4_6"></td></tr>
                <tr><td class="cardLocation" id="c4_7"></td></tr>
                <tr><td class="cardLocation" id="c4_8"></td></tr>
                <tr><td class="cardLocation" id="c4_9"></td></tr>
                <tr><td class="cardLocation" id="c4_10"></td></tr>
                <tr><td class="cardLocation" id="c4_11"></td></tr>
                <tr><td class="cardLocation" id="c4_12"></td></tr>
                <tr><td class="cardLocation" id="c4_13"></td></tr>
            </table>
        </td>
    </tr>
</table>

<br>
<button id="dealButton">Deal</button><br><br>
<button id="moveButton">Move</button> <input id="moveFrom" type="text"> to <input id="moveTo" type="text"><br><br>
<button id="removeButton">Remove</button> <input id="removeCard" type="text">

<script>

var deck;
var c1Num=0;
var c2Num=0;
var c3Num=0;
var c4Num=0;

$.getJSON("http://localhost:8080/deck.json", function( data ) {
deck = data;
console.log(deck);
});

$("#dealButton").click(function()
{
    $("#c1_"+c1Num++).text("filler1");
    $("#c2_"+c2Num++).text("filler2");
    $("#c3_"+c3Num++).text("filler3");
    $("#c4_"+c4Num++).text("filler4");
});

$("#removeButton").click(function()
{
    var temp = $("#removeCard").val();

    if(temp == "1")
    {
        $("#c1_"+(--c1Num)).text("");
    }
    else if(temp == "2")
    {
        $("#c2_"+(--c2Num)).text("");
    }
    else if(temp == "3")
    {
        $("#c3_"+(--c3Num)).text("");
    }
    else if(temp == "4")
    {
        $("#c4_"+(--c4Num)).text("");
    }
});

</script>
</body>
</html>